.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.interface {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    text-align: center;
}

.interface ul {
    list-style-type: none;
    padding: 0;
}

.interface li {
    margin: 10px 0;
}

.interface button {
    width: 150px;
}

.settings {
    margin: 0 40px;
}

.graph {
    align-self: center;
}

.pathdisplay {
    align-content: center;
}

.sketch {
    display: grid;
    grid-template-rows: 1fr auto;
}
