.layer {
    height: 50px;
    display: grid;
    grid-auto-flow: column;
    z-index: 1;
}

.layertraversal {
    grid-template-columns: repeat(auto-fill, minmax(2.3vw, max-content));
    grid-auto-flow: unset;
}
